body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1188px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header {
  display: flex;
}

/* NAV */

.link-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 24px 76px 24px 156px;
}
.nav {
  display: flex;
  flex-direction: row;
}
.studio {
  color: #2e2f42;
}
.page-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-direction: row;
}
.page-nav-item {
  color: #2e2f42;
  display: flex;
  flex-direction: row;
  margin: 24px;
}

.page-nav-item:hover,
.page-nav-item:focus {
  color: #404bbf;
}

/* BUTTON */

.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* CONTACTS */

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  flex-direction: row;
}

.contacts-item {
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  margin: 24px 40px;
}

/* HERO */

.hero-background {
  background-color: #2e2f42;
}

.hero-header {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  padding: 188px 472px 292px;
}

/* TEAM */

.team {
  background-color: #f4f4fd;
}
.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-list-bg {
  background-color: #ffffff;
}

.team-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

/* PORTFOLIO */

.portfolio-subtitle {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio {
  background-color: #ffffff;
}

.portfolio-bg {
  background-color: #ffffff;
}
/* FOOTER */

footer {
  background-color: #2e2f42;
}

.studio-f {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
